<h3>{{viewTitle}}</h3>

<form action="/record" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{record._id}}">
    <div class="form-group col-10">
        <label><strong>ITEM</strong></label>
        <input type="text" class="form-control" name='item' placeholder="Item..." value="{{record.item}}">
        <div class="text-danger">
            {{record.itemError}}
        </div>
    </div>
    <div class="form-group col-10">
        <label><strong>NAME</strong></label>
        <input type="text" class="form-control" name='toWhom' placeholder="Name..." value="{{record.toWhom}}">
        <div class="text-danger">
            {{record.toWhomError}}
        </div>
    </div>
    <div class="form-group col-10">
        <label><strong>EMAIL</strong></label>
        <input type="email" class="form-control" name='email' placeholder="Email..." value="{{record.email}}">
        <div class="text-danger">
            {{record.emailError}}
        </div>
    </div>
    <div class="form-group col-3">
        <label><strong>WHEN</strong></label>
        <input type="date" class="form-control" id="when" name="when" value="{{formatDate record.when}}">
        <div class="text-danger">
            {{record.whenError}}
        </div>
    </div>
    <div class="form-group col-3">
        <label><strong>DEADLINE</strong></label>
        <input type="date" class="form-control" id="deadline" name="deadline" value="{{formatDate record.deadline}}">
        <div class="text-danger">
            {{record.deadlineError}}
        </div>
    </div>
    <div class="form-group col-10">
        <label><strong>COMMENTS</strong></label>
        <input type="text" class="form-control" name='comments' placeholder="Write comments here..."
            value="{{record.comments}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/record/list">List</a>
    </div>
</form>