<h3><a class="btn btn-secondary" href="/record">New Item</a> List of lent items</h3>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Item</th>
            <th>To Whom</th>
            <th>Email</th>
            <th>When</th>
            <th>Deadline</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.item}}</td>
            <td>{{this.toWhom}}</td>
            <td>{{this.email}}</td>
            <td>{{formatDate this.when}}</td>
            <td>{{formatDate this.deadline}}</td>
            <td>{{this.comments}}</td>
            <td>
                <a href="/record/{{this._id}}"><i class="fas fa-pencil-alt fa-lg"></i></a>
                <a href="/record/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>